
  .form_btn {
    width: 100%;
    max-width: 200px;
    margin: 40px auto 0;
  }
  .form_btn button {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #000;
    width: 100%;
    padding: 4px 12px;
    border: 1px solid #fff;
    cursor: pointer;
  }
  .form_btn button:disabled {
    opacity: .5;
    cursor: none;
  }